fastapi
pyttsx3
pywin32; sys_platform == 'win32'
duckduckgo-search
uvicorn
python-socketio
urllib3<2
python-multipart
langchain
langchain-core
langchain-community
pyautogui
pywhatkit
pycaw; sys_platform == 'win32'
schedule
SpeechRecognition
elevenlabs
tavily-python
pygame
openai
comtypes; sys_platform == 'win32'
groq
opencv-python
opencv-contrib-python
cryptography
yfinance
beautifulsoup4
python-dotenv
requests
edge-tts
scipy
pyperclip
pygetwindow; sys_platform == 'win32'
pypdf

